@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    font-size: large;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;      
    align-items: center;          
    height: 100vh;                
    background-color: #f0f0f0;    
}

.container {
    width: 25%;
    background-color: #f0f0f0;    
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    text-align: center;           
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    transition: text-shadow 0.3s ease-in-out;
}

h1:hover {
    text-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    transition: text-shadow 0.3s ease-in-out;
}

p:hover {
    text-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
}

ul {
    margin-top: 30px;
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

button {
    width: 200px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
}

button i {
    margin-right: 8px;
    font-size: 18px;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 20px auto;
   
    
}

img:hover {
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
    transition: box-shadow 0.3s ease-in-out;     
}
