*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-left: 16px;
    padding-right: 16px;
}
.container{
     width: 400;

}